html, body {
	position: relative;
	top: -9px;
	background-color:#6E6E6E;
}

.header {
	width: 80%;
	background:#F0F0F0;
	background-color: #FF5A09;
	margin: 0 auto;
	height: 150px;
}
.header .logo {
	position: absolute;
	padding: 5px;
}
.header .menubar {
	list-style: none;
	position: relative;
	width: 100%;
	top: 46px;
}
.header .menubar li {
	list-style: none;
	float: right;
}
.login-button{
	display: inline;
	margin: 7px;
	padding: 10px 0 10px 0;
	height: 20px;
	border-radius: 5px;
	background-color: #FF9900;
	border: 1px solid black;
}
.login-button a, .login-button input{
	text-decoration: none;
	text-align: center;
	padding: 10px;
	color: black;
	border-radius: 5px;
}
.login-button input[type="submit"]{
	position: relative;
	top: -10px;
	padding-bottom: 14px;
	background-color: #F3843E;
	border: none;
	cursor: pointer;
}
.login {
	display: inline;
	padding: 10px;
	margin: 7px;
	height: 20px;
	border: 1px solid black;
	border-radius: 5px;
}
.container {
	box-sizing: border-box;
	width: 80%;
	background-color: #393939;
	margin: 0 auto;
	height: 1000px;
	padding: 10px;
}
.footer {
	margin: 0 auto;	
	width: 80%;
	background-color: #FF5A09;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.footer a {
	href: contact.html;
}

.container .post {
	background-color: lightgrey;
	border-radius: 5px;
    width: 350px;
	height:250px;
	margin: 25px;
    border: 3px solid black;
	overflow-y:scroll;
    position: relative;
	cursor: pointer;
	font-size: 10px;
    font-weight: 500;
    padding: 10px 10px;
    letter-spacing: .5px;
	float: left
   
}
.clear {
	clear: both;
}
.footer .element {
	position: relative;
	color: white;
	top: 25%;
}
